
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.714;
	color: #404049;
	font-weight: 400;
}

#content ul {
	margin: -10px 0 20px 25px; 
}
#content ul li {
	position: relative;
}
#content ul li:before {
	content: ' . ';
	font-size: 20px;
	font-weight: bold;
	position: absolute;
	width: 10px;
	height: 10px;
	top: -10px;
	left: 0;
}

#content ul.sflist {
	margin: 0 0 20px 0;
	list-style: none;
}
#content ul.sflist li {
	margin-bottom: 20px;
	padding-left: 0;
}
#content ul.sflist li:before {
	content: '';
	display: none;
}
#content .sfmetainfo, #content .sfsummary {
	margin-bottom: 8px;
}

h1,h2,h3,h4,h5{
	line-height: 1.3; 
	margin-bottom: 8px;
	font-family: 'Signika', sans-serif;
}



h1 {
	font-size:32px;
	color:#373839;
	font-weight:400;
	text-transform: capitalize;
}

h2 {
	font-size:24px;
	color:#373839;
	font-weight:400;
	text-transform: capitalize;
}

h3{
	font-size:22px;
	color:#9a9d9f;
	line-height: 24px;
	font-weight:400;
}

/* Remember: LoVe For Hate */
a {text-decoration: none;}
a:visited {}
a:active {}
a:hover,a:focus {}

/*table styles*/
.table-style td,
.table-style th{
	padding: 5px 10px; 
	line-height: 1.3;
}
.table-style th{
	background: #373839;
	color: #fff;
	text-transform: uppercase;
	font-weight: 400;
	text-align: left;
	
	font-size: 20px;
}
.table-style td{
	border-bottom: 1px solid #d3d3d3;
	border-left: 1px solid #d3d3d3;
}
	.table-style td:first-child{border-left: 0;}
td.column-title{
	background: #cdcdcd;
	text-transform: capitalize;
	font-size: 16px;
	border-color:#f9f9f9;
	border-bottom: 0;
}
#datewidget_calendar {display:none !important;}
.date.hasDatepicker + a {display:none;}

/*Mobile: max 767px based on 16px*/
@media(max-width: 47.938em){
	body{
		font-size: 13px; 
		line-height: 1.75;
		color: #5a5c5d;
	}
	h1{font-size: 25px;}
	h2{font-size: 20px;}
	h3{font-size: 16px;}
	
	.table-style td,
	.table-style th{
		padding: 5px 10px; 
	}
	td.column-title{
		font-size: 13px;
	}
}
