﻿<%@ Master Language="C#" MasterPageFile="~/App_Master/base.master" AutoEventWireup="true" CodeFile="Internal.master.cs" Inherits="App_Master_Internal" Debug="true"%>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">


</asp:Content>


<asp:Content ID="ContentHeader" ContentPlaceHolderID="cph_header" Runat="Server">
     <div class="util-wrap">
	   	<div id="util" class='section-inner'>
            <asp:ContentPlaceHolder runat="server" ID="cph_util"></asp:ContentPlaceHolder>
            							
        </div>	
      </div>
      <div class="h-w2 section-inner">

				<a class="element-invisible" href="#content">Skip to Content</a>
	            <nav id="mainnav" class="nav">
                     
                    <asp:ContentPlaceHolder runat="server" ID="cph_mainnav"></asp:ContentPlaceHolder>

	            	
				</nav>

                <a href="/" id="logo" class="ca-logo"><img src="/img/haywood-logo.png" alt="Logo" /></a>
          <a href="/usa" id="uslogo" class="us-logo"><img src="/img/haywood-usa-logo.png" alt="Logo" /></a>
                	            
                <ul class="stockmarket mobile-h">
                <asp:ContentPlaceHolder runat="server" ID="cph_Stockmarket"></asp:ContentPlaceHolder>
                    </ul>
            		

			</div>

			<div id="header-banner">
            	
	            <div class="header-banner-img">
	            	

                    <div class="homeslidcontain" >
                        <asp:ContentPlaceHolder runat="server" ID="cph_home_banner"></asp:ContentPlaceHolder>

                    </div>

	            </div>
            </div>


</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="cph_main" Runat="Server">

    <div class="m-w2 section-inner">
            <asp:ContentPlaceHolder runat="server" ID="cph_form_header"></asp:ContentPlaceHolder>
			<div id="content">
                
                <div class="c-w1">
			
             
                <asp:ContentPlaceHolder runat="server" ID="cph_content"></asp:ContentPlaceHolder>
			</div>
				<div id="ctas" class="aside">
				
                     <asp:ContentPlaceHolder runat="server" ID="cph_aside"></asp:ContentPlaceHolder>
				</div>
		</div>



			<div id="subnav" class="nav aside">
				
                <asp:ContentPlaceHolder runat="server" ID="cph_subnav"></asp:ContentPlaceHolder>
			</div>
			

			

		</div>

</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="cph_footer" Runat="Server">

    <div id="foot-stock" class="footblock">
				
         <asp:ContentPlaceHolder runat="server" ID="cph_footblock"></asp:ContentPlaceHolder>
			</div>

			<div id="foot-copy" class="footblock">
		
                <asp:ContentPlaceHolder runat="server" ID="cph_footfinal"></asp:ContentPlaceHolder>

			</div>
			<div id="foot-social" class="footblock">
                 <asp:ContentPlaceHolder runat="server" ID="cph_footsocial"></asp:ContentPlaceHolder>

			</div>

			<div id="foot-sitemap" class="footblock">
				

                  <asp:ContentPlaceHolder runat="server" ID="cph_footsitemap"></asp:ContentPlaceHolder>
			</div>

			<div id="foot-membership" class="footblock">
				
                 <asp:ContentPlaceHolder runat="server" ID="cph_footmembership"></asp:ContentPlaceHolder>

			</div>

			
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="cph_location" Runat="Server">
    <div id="locationWrapper">
    <div id="locationPopup" class="locpop">
        <span class="loc-loader"></span>
        <asp:ContentPlaceHolder runat="server" ID="cph_locationPopup"></asp:ContentPlaceHolder>
    </div>
        </div>
</asp:Content>

