﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Stock.aspx.cs" Inherits="sample._Stock" Debug="true" %>


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
<title>Stock quote and chart from Yahoo in C#</title>
   

</head>
<body>
  <form id="getQuote">
<h1>Stock Quote Service</h1>
 
 
 
<div>NASDAQ DOW: <%=quotevalue %></div>

</form>
</body>
</html>