@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);


/*homepage no sidebar and aside*/

#header { /*border-bottom: none;*/
}

#content {
    left: 0;
    width: 100%;
    padding-left: 0;
}

.c-w1 {
    width: 100%;
    padding: 20px;
}

#content {
    padding-top: 24px;
}


/****************************
header banner
*****************************/

#header-banner {
    display: block;
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    position: relative;
}

    #header-banner img {
        height: 600px;
        display: block;
    }

    #header-banner h1 {
        position: absolute;
        top: 127px;
        left: 60px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 40px;
        line-height: 45px;
        width: 440px;
        text-transform: uppercase;
    }

    #header-banner .sf_cols {
        position: absolute;
        bottom: 50px;
        left: 60px;
        /*width: 50%;*/
    }


        #header-banner .sf_cols .sf_colsOut {
            height: 180px;
            width: 180px;
            background: #B5B5B3;
            /*opacity: 0.73;*/
            margin-right: 30px;
            margin-bottom: 30px;
            padding: 18px;
            position: relative;
            cursor: pointer;
            background: rgb(128,129,130);
            background: rgba(128,129,130,0.9);
            -pie-background: rgba(128,129,130,0.9);
            -webkit-transition: all 0.2s ease;
        }

            #header-banner .sf_cols .sf_colsOut:before {
                content: '+';
                font-family: 'Open Sans', sans-serif;
                font-size: 40px;
                height: 20px;
                width: 20px;
                top: 0;
                right: 18px;
                font-weight: 300;
                position: absolute;
                color: #fff;
            }

            #header-banner .sf_cols .sf_colsOut:hover p {
                visibility: visible;
                opacity: 1;
            }

                #header-banner .sf_cols .sf_colsOut:hover p a:after {
                    display: block;
                    content: 'Learn More';
                    position: absolute;
                    bottom: 18px;
                    left: 18px;
                    color: #fff;
                    text-transform: uppercase;
                }

                #header-banner .sf_cols .sf_colsOut:hover p a:before {
                    display: block;
                    content: '+';
                    position: absolute;
                    bottom: 18px;
                    left: 114px;
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 20px;
                }

            #header-banner .sf_cols .sf_colsOut h2 {
                position: absolute;
                bottom: 18px;
                left: 18px;
                color: #fff;
                font-family: 'Open Sans', sans-serif;
                font-weight: 400;
                font-size: 22px;
                line-height: 22px;
                text-transform: uppercase;
            }

            #header-banner .sf_cols .sf_colsOut p {
                position: absolute;
                top: -8px;
                left: -8px;
                width: 196px;
                height: 196px;
                background: #5fa6d0;
                margin: 0;
                padding: 18px;
                color: #fff;
                font-size: 14px;
                font-family: 'Open Sans', sans-serif;
                visibility: hidden;
                opacity: 0;
            }

.home-cta {
    width: 100%;
    height: 360px;
    position: relative;
    overflow: hidden;
    background: url(/images/default-source/Home/home-cta.jpg?sfvrsn=1) bottom center no-repeat #fff;
    background-size: 100% auto;
    cursor: pointer;
}

    .home-cta:hover .home-cta-content {
        opacity: 0.8;
        /*height: 150px;*/
    }

    .home-cta img {
        width: 100%;
        visibility: hidden;
    }

.home-cta-content {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    padding: 27px 40px 0;
    width: 100%;
    /*height: 140px;*/
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

    .home-cta-content:after {
        content: '';
        background: #fff;
        background: rgb(255,255,255);
        background: rgba(255,255,255,0.9);
        -pie-background: rgba(255,255,255,0.9);
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .home-cta-content:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background: url(/images/default-source/Home/home-cta.jpg?sfvrsn=1) bottom center no-repeat #fff;
        background-size: 100% auto;
        /*filter: blur(5px);
	-webkit-filter: blur(5px);*/
    }

    .home-cta-content h2 {
        font-size: 30px;
        line-height: 26px;
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        position: relative;
        z-index: 999;
    }

    .home-cta-content p {
        font-size: 20px;
        line-height: 28px;
        max-width: 270px;
        position: relative;
        z-index: 999;
    }

    .home-cta-content a {
        text-decoration: underline;
    }

.sf_2cols_2in_50 .home-cta {
    background: url(/images/default-source/banner/home-cta2.jpg?sfvrsn=0) bottom center no-repeat #fff;
    background-size: 100% auto;
}

.sf_2cols_2in_50 .home-cta-content:before {
    background: url(/images/default-source/banner/home-cta2.jpg?sfvrsn=0) bottom center no-repeat #fff;
    background-size: 100% auto;
}

.sf_2cols_2in_50 .home-cta-content h2 {
    text-align: center;
}

.sf_2cols_2in_50 .home-cta-content p {
    max-width: 100%;
    text-align: center;
}

#content {
    padding-top: 0;
}

    #content > .c-w1 > .sfContentBlock h2 {
        font-size: 40px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
    }

    #content > .c-w1 > .sfContentBlock p {
        text-align: center;
        font-size: 24px;
        color: #787a7c;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
    }

.h-w2.section-inner:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    background: #8a8b8c;
    margin-left: 0;
    width: 100%;
}

#header {
    border-bottom: none;
}


@media screen and (max-width: 47.938em) {
    #header-banner {
        width: auto;
        overflow: visible;
        height: auto;
    }

        #header-banner img {
            height: auto;
        }

    .header-banner-img img {
        min-height: 0;
        min-width: 100%;
        position: static;
        width: 100%;
        left: 50%;
        margin-left: 0;
        height: auto;
    }

    #header-banner .sf_cols {
        left: 0;
        position: static;
        width: auto;
    }

    .sf_4cols_2_25 .sf_4cols_2in_25, .sf_4cols_3_25 .sf_4cols_3in_25, .sf_4cols_4_25 .sf_4cols_4in_25 {
        margin-left: 0 !important;
    }

    #header-banner .sf_cols .sf_colsOut {
        width: 100% !important;
        height: auto;
        margin-bottom: 1px;
        margin-right: 0;
    }

        #header-banner .sf_cols .sf_colsOut h2 {
            position: static;
            bottom: 18px;
            left: 18px;
            color: #fff;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            text-transform: uppercase;
        }

        #header-banner .sf_cols .sf_colsOut p {
            position: static;
            top: 0;
            left: -8px;
            width: 100%;
            height: auto;
            background: none;
            margin: 0;
            padding: 0;
            color: #fff;
            font-size: 11px;
            font-family: 'Open Sans', sans-serif;
            visibility: visible;
            opacity: 1;
        }

    .sf_2cols_2_50 .sf_2cols_2in_50, .sf_2cols_1_50 {
        margin-left: 0 !important;
        margin-bottom: 10px !important;
        float: none !important;
        width: auto !important;
    }

    .sf_2cols_2in_50 .home-cta-content h2,
    .sf_2cols_2in_50 .home-cta-content p {
        text-align: left !important;
    }

    .home-cta-content {
        padding: 17px 20px 0;
    }

        .home-cta-content h2 {
            font-size: 16px;
            line-height: 20px;
        }

        .home-cta-content p {
            font-size: 12px;
            line-height: 16px;
        }


    #header-banner h1 {
        position: static;
        top: 77px;
        left: 0;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        width: 100%;
        text-transform: uppercase;
        padding: 3%;
        color: #fff;
        text-align: center;
        background: rgb(128,129,130);
        background: rgba(128,129,130,0.9);
        -pie-background: rgba(128,129,130,0.9);
        -webkit-transition: all 0.2s ease;
        margin: 0 0 1px;
    }

    #content > .c-w1 > .sfContentBlock h2 {
        font-size: 20px;
    }

    #content > .c-w1 > .sfContentBlock p {
        font-size: 14px;
    }

    #header-banner .sf_cols .sf_colsOut:before {
        display: none;
    }
}

@media only screen and (max-width: 959px) {
    #header-banner h1 {
        top: 30px;
    }

    #header-banner .sf_cols {
        bottom: 0;
    }

        #header-banner .sf_cols .sf_colsOut.sf_3cols_3_33 {
            clear: left;
        }
}

.home-cta a {
    display: block;
}

.sf_2cols_2_50 .sf_2cols_2in_50 {
    margin-left: 1% !important;
}

.sf_2cols_1_50 .sf_2cols_1in_50 {
    margin-right: 1% !important;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .c-w1 > div > h2 {
        width: 99%;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .home-cta-content h2 {
        font-size: 23px;
    }
}

.home-alert a {
    color: #000;
    font-weight: bold;
    padding: 5px 20px;
    background: #ffe699;
    -pie-background: rgba(128,129,130,0.9);
    -webkit-transition: all 0.2s ease;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    display: block;
    margin-bottom: 6px;
    text-align: center;
}

    .home-alert a:hover {
        background: #439dd4;
    }

    .home-alert a:last-child {
        padding: 5px 5px;
    }

@media only screen and (min-device-width : 768px) {
    .home-alert {
        position: absolute;
        top: 30px;
        left: 50%;
        margin-left: -235px;
    }

        .home-alert a {
            font-size: 16px;
        }
}

@media only screen and (max-device-width : 1024px) {
    .home-alert {
        position: absolute;
        top: 30px;
        left: 50%;
        margin-left: -320px;
    }
}

@media only screen and (max-width : 960px) {
    .home-alert {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -290px;
    }

        .home-alert a {
            font-size: 14px;
        }

    #header-banner h1  { font-size: 32px; line-height: 36px; top: 82px; }
}

@media only screen and (max-device-width : 767px) {
    .home-alert {
        position: absolute;
        top: 65px;
        left: 50%;
        margin-left: -166px;
        right: unset;
    }

        .home-alert a {
            font-size: 13px;
        }


    #header-banner h1 {
        line-height: 21px;
    }
}

/* HAYWOOD-18 */

.homeslidcontain {
    position: relative;
    max-height: 600px;
}

#header-banner .logo-img img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

#header-banner .home-alert {
    position: absolute;
    top: 100px;
    left: auto;
    right: 15px;
    margin-left: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 17px;
    color: #d79b29;
}

#header-banner .logo-img {
    position: absolute;
    top: 75px;
    left: 20px;
    width: 100px;
    height: 100px;
}

.yellow-butons {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #e2aa1f;
    margin: 0 0 1rem;
}

.yellow-butons > div {
    padding: 10px;
    text-align: center;
    flex-basis: 49%;
    max-width: 49%;
    background-color: #fee799;
}

.yellow-butons > div a {
    font-size: 15px;
    font-weight: 700;
    color: #000100;
}

@media only screen and (min-width: 768px) and (max-width: 960px) {

    #header-banner .logo-img {
        top: 50px;
        left: 500px;
        width: 250px;
        height: 250px;
    }

    #header-banner .home-alert {
        font-size: 32px;
        top: 35px;
        left: 60px;
        right: auto;
    }

    .home-cta {
        height: 240px;
    }
}

@media only screen and (min-width: 961px) {


    #header-banner .home-alert {
        top: 70px;
        left: 60px;
        right: auto;
        font-size: 40px;
    }

    #header-banner .logo-img {
        top: 50px;
        left: 520px;
        width: 220px;
        height: 220px;
    }
}

@media only screen and (max-width: 767px) {

    .yellow-butons {
        flex-direction: column;
        margin-left: -20px;
        margin-right: -20px;
    }

    .yellow-butons > div {
        flex-basis: 100%;
        max-width: 100%;
    }

    .yellow-butons > div:nth-child(1) {
        margin: 0 0 1rem;
    }
}