
#research-content h2 {
color: #373839 !important;
}

#research .research-list  {
	margin: 30px 0;
}
#research .research-list li {
	padding-left: 0;
	position: relative;
	padding-left: 172px;
	margin-bottom: 30px;
}
#research .research-list li a:after {
	content: ' ›';
}
#research .research-list .thumb {
	position: absolute;
	top: 0;
	left: 0;
	width: 152px;
	height: 120px;
	overflow: hidden;
	
}
#research .research-list .thumb:after {
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height:3px;
	border-top: solid #fff 1px;
	background: #8b8b8b;
}
