﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="GetStock.ascx.cs" Inherits="UserControls_GSSI_GetStock" Debug="true" %>



<li style="display: none;"> <div class="stock-item"> <span class="stock-title">S&P/TSX Comp</span> <%=snpivalue %> </div> </li>            
<%--<li> <div class="stock-item"> <span class="stock-title">DJIA</span> <%=dowvalue %> </div> </li> --%>
<li style="display: none;"> <div class="stock-item"> <span class="stock-title">Nasdaq</span> <%=nasdaqvalue %> </div> </li> 
<li style="display: none;"> <div class="stock-item"> <span class="stock-title">S&P/TSX Venture</span> <%=snpvvalue %> </div> </li> 
<li style="display: none;"> <div class="stock-item"> <span class="stock-title">S&P 500</span> <%=snp5value %> </div> </li> 




              




