body {background:#fff;}
/*.util-wrap {display:none;}*/

#mainnav ul.navi > li > ul > li.Contact.Us, #mainnav ul.navi > li > ul > li.Haywoods.Canada {display:none;}
#subnav ul ul > li.Contact.Us, #subnav ul ul > li.Haywoods.Canada {display:none;}
form[action="contact-us"] #mainnav li.Haywood.USA a{color:#9da1a3;}
form[action="contact-us"] #mainnav li.Haywood.USA a:after{display:none;}
#sfLoginWidgetWrp {border:none;
padding-top: 15%;}

    #sfLoginWidgetWrp ol {margin:0;padding:0;overflow:hidden;}
        #sfLoginWidgetWrp ol li {list-style:none; font-weight: bold;}
        #sfLoginWidgetWrp input[type='text'], #sfLoginWidgetWrp input[type='password'] {line-height: 30px;height: 30px;padding: 10px 10px;margin: 15px 0;background: #fff;border: solid black 1px;}

#sfLoginWidgetWrp .sfSubmitBtnWrp .sfSubmitBtn { 
    margin-top: 40px;
}
        /*#sfLoginWidgetWrp input[type='text'] {position:relative;}
            #sfLoginWidgetWrp input[type='text']:focus {z-index:10;}
    #sfLoginWidgetWrp #cph_main_cph_content_C002_ctl00_ctl00_UserName_ctl00_ctl00_expandableTarget_write {position:relative;}
        #sfLoginWidgetWrp #cph_main_cph_content_C002_ctl00_ctl00_UserName_ctl00_ctl00_expandableTarget_write:after {content: "Username";position:absolute;top:12px;left:5px;}

         #sfLoginWidgetWrp #cph_main_cph_content_C002_ctl00_ctl00_Password_ctl00_ctl00_expandableTarget_write {position:relative;}
        #sfLoginWidgetWrp #cph_main_cph_content_C002_ctl00_ctl00_Password_ctl00_ctl00_expandableTarget_write:after {content: "Password";position:absolute;top:12px;left:5px;}
        #sfLoginWidgetWrp input[type='password'] {position:relative;}
        #sfLoginWidgetWrp input[type='password']:focus {z-index:10;}
#cph_main_cph_content_C002_ctl00_ctl00_UserName_ctl00_ctl00_titleLabel_write, #cph_main_cph_content_C002_ctl00_ctl00_Password_ctl00_ctl00_titleLabel_write {display:none;}*/

ul ul li.Haywood.Canada {display:none;}

	 body #util li a#utillogin{background:#808182 url(../img/skin/bg/icon-login.png) 30px -6px no-repeat;display:none;}
                body #util li a#utilloginusa{display:block;}

                #util li a#util-contact {display:none;}
#util li a#util-contact-usa {display:block;}

#logo {
    display: none !important;
}
#uslogo {
    display: inline-block;
}
/*#util{
    top: 105px !important;
}*/
#foot-social {display:none;}
#foot-sitemap {margin-top:21px;}
