@import url(http://fonts.googleapis.com/css?family=Signika:400,300);

html {
	overflow: -moz-scrollbars-vertical; 
	overflow-y: scroll;
}
.c-w1 {
	width: 100%;
}

#people-filter {
	margin-bottom: 27px;
	width: 100%;
	background: #fff;
	padding: 10px 0;
}
#people-filter select {
	margin-bottom: 6px;
	/*width: 32.3%;*/
	width: 186px;
}

#people-filter select[data-group=s-t-group]{
	display: none;
}
#people-filter select.shows {
	display: inline-block;
}

@media only screen and (max-width : 640px) {
	#people-filter select {
		margin-bottom: 6px;
		width: 100%;
	}	
}


#people-filter ul {
	display: table;
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
	border-bottom: solid #8a8b8c 3px;
	padding-bottom: 22px;
	text-align: center;
	margin: 0 0 20px;

}
#people-filter ul[data-filter-group=branch],
#people-filter ul[data-filter-group=s-t-group]{
	visibility: hidden;
	display: none;
}

#people-filter ul:after {
	display: inline;
	clear: none;
	content: none;
}

#people-filter li:first-child {
	width: 90px;
}
#people-filter li {
	display: table-cell;
	text-align: center;
	white-space: nowrap;
	padding:  0 30px 10px 30px;
	position: relative;
}
#people-filter li:before {
	display: none;
}
#people-filter a {
	display: block;
	font-size: 16px;
	text-transform: uppercase;
	color: #8a8b8c;
	font-family: 'Signika', sans-serif;
	font-weight: 300;
}

#people-filter a.on:after, #people-filter a:hover:after {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	content: '\e800';
	position: absolute;
	bottom: -2px;
	display: block;
	width: 100%;
	text-align: center;
	color: #8a8b8c;
	left:0;
}



#people-viewer {
	margin: 0;
	overflow: hidden;
	max-height: 0;
	-webkit-transition: all 0.4s ease;
	-moz-transition:    all 0.4s ease;
	-ms-transition:     all 0.4s ease;
	-o-transition:      all 0.4s ease;	
}
#people-filter.fixed {
	position: fixed;
	top: 0;
	z-index: 9999;
	margin: 0 0 !important;
}
#people-viewer.fixed {
	position: fixed;
	top: 52px;
	z-index: 9999;
	margin: 0 0 !important;
}
#subnav {

}
#subnav.fixed {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
	margin-top: 0 !important;
}

#people-viewer.on {
	max-height: 320px;
	margin: 16px 0;
	overflow-y: auto;
}
#people-viewer .close {
	position: absolute;
	top: 20px;
	right: 0;
	background: #b1b3b4;
	width: 114px;
	height: 42px;
	line-height: 42px;
	white-space: nowrap;
	color: #000;
	text-align: center;
	z-index: 99;
	text-transform: uppercase;
	cursor: pointer;
	font-family: 'Signika', sans-serif;
	font-weight: 300;
}
#people-viewer .close:before {
	content: url(/img/close.gif);
	display: inline-block;
	position: absolute;
	top: 6px;
	left: 13px;
}

#people-viewer .viewer-wrapper {
	min-height: 300px;
	background: #373839;
	border: solid #8a8b8c 3px;
	padding: 26px 26px 40px;
	padding-left: 283px;
	position: relative;
}
#people-viewer .viewer-wrapper:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: solid #fff 1px;
}
#people-viewer .thumb {
	position: absolute;
	top: 0;
	left: 0;
	max-height: 257px;
	max-width: 233px;
	height: auto;
	overflow: hidden;
	background: #000;
	border: solid #fff 1px;
}
#people-viewer .thumb img {
	width: 100%;
	height: auto;
	display: block;
}
#people-viewer h3 {
	color: #fff;
	font-size: 24px;
	margin-bottom: 0;
	text-transform: uppercase;
	font-weight: 300;
	font-family: 'Signika', sans-serif;
}
#people-viewer em {
	font-size: 20px;
	color: #8a8b8c;
	font-style: normal;
	display: inline-block;
	margin-bottom: 20px;
	font-family: 'Signika', sans-serif;
	font-weight: 300;
}
#people-viewer .story {
	color: #ffffff;
	font-size: 14px;

}
#people-viewer ul {
	height: auto !important;
	margin: 0;
}


#people-list ul {
	width: 100%;
}
#people-list h3 {
	font-size: 11px;
	margin: 0;
	color: #000;
	text-transform: uppercase;
	font-family: 'Signika', sans-serif;
	font-weight: 700;
	line-height: 14px;	
}
#people-list em {
	font-size: 12px;
	font-style: normal;
	color: #000;
	font-family: 'Signika', sans-serif;
	font-weight: 300;
}
#people-list ul {
	margin-left: -1%;
	margin-right: -1%;
}
#people-list .item {
	/*width: 208px;*/
	width: 18%;
	position: relative;
	margin: 1%;
	min-height: 1px;
	border-top: solid #8a8b8c 3px;
	cursor: pointer;
	padding-left: 0;
	overflow: hidden;
}
#people-list .item .close {
	display: none;
	position: absolute;
	top: 20px;
	right: 0;
	background: #b1b3b4;
	width: 114px;
	height: 42px;
	line-height: 42px;
	white-space: nowrap;
	color: #000;
	text-align: center;
	z-index: 99;
	text-transform: uppercase;
	cursor: pointer;
	font-family: 'Signika', sans-serif;
	font-weight: 300;	
	z-index: 999;
}
@media only screen and (max-width : 640px) {
	#people-list .item .close{
		width: 44px;
		height: 1px;
		padding-top: 41px;
		overflow: hidden;
		top: 0;
	}
	#people-list .item.large .info h3 {
		padding-right: 44px;
	}

}


#people-list .item .close:before {
	content: url(/img/close.gif);
	display: inline-block;
	position: absolute;
	top: 6px;
	left: 13px;	
}
#people-list .item.large .close {
	display: block;

}


#people-list .item.large {
	width: 100%;
	z-index: 99;
	min-height: 200px;
	background: #373839;
	padding: 20px 20px 20px 194px;
	border: solid #8a8b8c 3px;
	clear: both;
}
#people-list .item.large .story {
	display: block;
	color: #fff;
	font-size: 13px;
	line-height: 23px;
}
#people-list .item.large .story p {
	color: #fff;
}
#people-list .item.large .info {
	position: static;
	background: none;
	height: auto;
	padding: 0;
	border: 0;
}
#people-list .item.large .info:after {
	display: none;
}
#people-list .item.large .info h3 {
	color: #fff;
	background: none;
	font-size: 22px;
	line-height: 22px;
	font-weight: 400;
	margin-bottom: 6px;
}

#people-list .item.large .info em {
	color: #b1b3b4;
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 10px;
	display: inline-block;
}




#people-list .item.on .info {
	/*height: 1px;
	overflow: hidden;
	padding: 0;*/
}

#people-list .thumb {
	height: auto;
	width: 100%;
	background: #fff;
	position: relative;

}
#people-list .thumb img {
	width: 100%;
	height: auto;
	display: block;
	opacity: 1;	
}
/*#people-list .item:hover .thumb img {
	opacity: 0.4;
}
#people-list .item.on .thumb img {
	opacity: 0.4;
}*/
#people-list .item:before {
	display: none;

} 
/*#people-list .item:hover .info{
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.9);
	-pie-background: rgba(0,0,0,0.9);
	height: 100%;
}*/
#people-list .info {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	color: #fff;
	padding: 10px 16px;
	background: rgb(255,255,255);
	background: rgba(255,255,255,0.9);
	-pie-background: rgba(255,255,255,0.9);

/*background: rgb(0,0,0);
	background: rgba(0,0,0,0.9);
	-pie-background: rgba(0,0,0,0.9);*/

	behavior: url(../css3PIE/PIE.htc);
	border-top: solid #fff 1px;
	height: 32px;
	overflow: hidden;
	-webkit-transition: all 0.2s ease;
	-moz-transition:    all 0.2s ease;
	-ms-transition:     all 0.2s ease;
	-o-transition:      all 0.2s ease;	
}
#people-list .info:after {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	content: '\e802';
	position: absolute;
	right: 10px;
	top: 10px;
	color: #333;
}


#people-list .story {
	display: none;
}
	#people-list .item.large .thumb{
	position: absolute;
	top: 0;
	left: 0;
	width: 174px;
	border: solid #fff 1px;
}

@media only screen and (max-width : 1199px) {
	#people-list .item.large .thumb{
	position: absolute;
	top: 0;
	left: 0;
	width: 174px;
	border: solid #fff 1px;
}
	#people-list .item{
		width:22%;
	}

	#people-filter li{
		padding:0 10px 20px 10px;
	}
		#people-filter li a{
			font-size:14px;
		}
}
@media only screen and (max-width : 1024px) {
	/*#people-list .thumb img {
		width: 220px;
	}*/
#people-list .item.large .thumb{
	position: absolute;
	top: 0;
	left: 0;
	width: 174px;
	border: solid #fff 1px;
}
	#people-filter li {
		padding: 0 0 20px 0;
	}
	#people-filter a {
		font-size: 13px;
	}

}
@media only screen and (max-width : 959px) {
#people-list .item.large .thumb{
	position: absolute;
	top: 0;
	left: 0;
	width: 174px;
	border: solid #fff 1px;
}
	#people-filter li:first-child {
		width: 50px;
	}
	#people-list .item {
		width:31.3%;
	}
	#people-filter a {
		font-size: 11px;
	}
	#people-filter li {
		padding: 0 10px 20px 10px;
		white-space: pre-wrap;
	}


	#people-viewer .viewer-wrapper {
		padding-left: 26px;
	}
	#people-viewer .thumb {
		position: static;
		margin-bottom: 10px;
	}
}
@media only screen and (max-width : 768px) {
	/*#people-list .thumb img {
		width: 210px;
	}*/
	#people-list .item.large .thumb{
	position: absolute;
	top: 0;
	left: 0;
	width: 174px;
	border: solid #fff 1px;
}
	#people-list .info {
		padding: 10px 16px;
	}
	#people-list h3 {
		font-size: 10px;
		line-height: 10px;
		margin-bottom: 20px;
	}
		#people-list .item .close{
		width: 44px;
		height: 1px;
		padding-top: 41px;
		overflow: hidden;
		top: 0;
	}
	#people-list .item.large .info h3 {
		padding-right: 44px;
	}

}


#people-list .item .close:before {
	content: url(/img/close.gif);
	display: inline-block;
	position: absolute;
	top: 6px;
	left: 13px;	
}
#people-list .item.large .close {
	display: block;

}
}
@media only screen and (max-width : 640px) {
	#people-filter {
		padding-top: 20px;
	}
	#people-list .item {
		/*width: 47%;*/
	}
	#people-filter ul {
		display: block;
		padding-bottom: 0;
	}
	#people-filter li:first-child { 
		width: auto;
	}
	#people-filter li {
		display: inline-block;
	}
	#people-list h3 {
		font-size: 10px;
		line-height: 10px;
		margin-bottom: 20px;
	}
	#people-list em {
		font-size: 11px;
		line-height: 13px;
	}
	#people-list .info {
		padding: 10px 16px;
	}


}
@media only screen and (max-width : 420px) {
	#people-filter {
		padding-top: 20px;
	}
	#people-list .item {
		/*width: 47%;*/
	}
	#people-filter ul {
		display: block;
		padding-bottom: 0;
	}
	#people-filter li:first-child { 
		width: auto;
	}
	#people-filter li {
		display: inline-block;
	}
	#people-filter li a {
		font-size: 11px;
	}
	#people-list h3 {
		font-size: 10px;
		line-height: 10px;
		margin-bottom: 20px;
	}
	#people-list em {
		font-size: 11px;
		line-height: 13px;
	}
	#people-list .info {
		padding: 10px 16px;
	}
	#people-list .item.large {
		padding: 20px;
	}
	#people-list .item.large .thumb {
		position: static !important;
		margin-bottom: 20px;
	}
}
@media only screen and (max-width : 320px) {
	#people-filter {
		padding-top: 20px;
	}
	#people-list .item {
		/*width: 47%;*/
	}
	#people-filter ul {
		display: block;
		padding-bottom: 0;
	}
	#people-filter li:first-child { 
		width: auto;
	}
	#people-filter li {
		display: inline-block;
	}
	#people-list h3 {
		font-size: 10px;
		line-height: 10px;
		margin-bottom: 20px;
	}
	#people-list em {
		font-size: 11px;
		line-height: 13px;
	}
	#people-list .info {
		padding: 10px 16px;
	}
		#people-list .item.large .thumb {
		position: static !important;
		margin-bottom: 20px;
	}
}