﻿#content div.c-w1 {
    width:100%;
}

.c-w1 > .sfContentBlock{
	display: inline-block;
	vertical-align: top;
	width:60%;
}
	.c-w1 > .sfContentBlock:first-child{
		width:40%;
		padding-right:30px;
		font-size:16px;
		line-height: 30px;
		font-style: italic;
		color:#5a5c5d;
	}
	

	@media screen and (max-width:960px){
		.c-w1 > .sfContentBlock, .c-w1 > .sfContentBlock:first-child{
			width:100%;
			margin-bottom: 50px;
		}
	}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
     .c-w1 > .sfContentBlock:first-child {width:60%;    }
    .c-w1 > .sfContentBlock:last-child {width:40%;    }
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
     .overview > .col {
        width:100%;
    }
}

