* {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}
/*************************************
PEOPLE VIEWER
**************************************/
#people-viewer {
    display: none;
}

/*************************************
PEOPLE FILTER
**************************************/

#people-filter select {
    display: inline-block;
}

#people-filter > select:first-child {
    display: none;
}

#people-filter ul {
    border-bottom: solid #8a8b8c 3px;
    text-align: justify;
    margin: 0 0 8px;
    display: table;
    table-layout: fixed;
    width: 100%;
}

    #people-filter ul:after {
        display: none !important;
    }

    #people-filter ul li {
        display: table-cell;
        list-style: none;
        padding: 0;
        text-align: center;
        vertical-align: middle;
    }

        #people-filter ul li:first-child {
            width: 75px;
        }

        #people-filter ul li:before {
            display: none !important;
        }

        #people-filter ul li a {
            display: block;
            font-size: 16px;
            text-transform: uppercase;
            color: #8a8b8c;
            font-family: 'Signika', sans-serif;
            font-weight: 300;
            padding-bottom: 10px;
        }

        #people-filter ul li.on a {
            color: #000;
            font-weight: 400;
        }

#people-filter a.on:after, #people-filter a:hover:after {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    content: '\e800';
    position: absolute;
    bottom: -2px;
    display: block;
    width: 100%;
    text-align: center;
    color: #8a8b8c;
    left: 0;
}

@media only screen and (max-width : 1199px) {
}

@media only screen and (max-width : 640px) {
    #people-filter > select:first-child {
        display: block;
    }

    #people-filter select {
        width: 100%;
        margin-bottom: 8px;
    }

    #people-filter ul {
        display: none;
    }
}


/*************************************
PEOPLE LIST
**************************************/
#people-list ul {
    margin: 30px -1% 0 -1%;
}

    #people-list ul li {
        display: inline-block;
        padding: 0;
        list-style: none;
        width: 17.7%;
        margin: 1%;
        border-top: solid #8b8b8d 3px;
        overflow: hidden;
        cursor: pointer;
    }

        #people-list ul li:before {
            display: none;
        }

#people-list .init-wrapper {
    position: relative;
}

    #people-list .init-wrapper .thumb img {
        display: block;
        max-width: 100%;
        opacity: 1;
    }

#people-list ul li .init-wrapper .thumb {
    height: 233px;
}

/*.pop-up-wrap:hover .init-wrapper .info,*/
#people-list ul li.large .init-wrapper .info {
    background: #000;
    position: absolute;
    top: -100%;
}

#people-list ul li.large .init-wrapper .thumb img {
    opacity: 1;
}

#people-list .init-wrapper .info {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    padding: 10px;
    width: 100%;
    background-color: #dbdbdb;
}

    #people-list .init-wrapper .info h3:after {
        font-family: "fontello";
        font-style: normal;
        font-weight: normal;
        speak: none;
        display: inline-block;
        text-decoration: inherit;
        width: 1em;
        text-align: center;
        font-variant: normal;
        text-transform: none;
        line-height: 1em;
        /*content: '\e802';*/
        position: absolute;
        right: 10px;
        top: 10px;
        color: #333;
    }

    #people-list .init-wrapper .info h3 {
        font-size: 11px;
        margin: 0;
        color: #000;
        text-transform: uppercase;
        font-family: 'Signika', sans-serif;
        font-weight: 700;
        line-height: 17px;
        white-space: nowrap;
        text-align: center;
    }

    #people-list .init-wrapper .info em {
        display: none;
    }

@media only screen and (max-width : 1199px) {
    #people-list ul li {
        width: 22.4%;
    }
}

@media only screen and (max-width : 768px) {
    #people-list ul li {
        width: 30.6%;
    }
}

@media only screen and (max-width : 640px) {
    #people-list ul li {
        width: 46.9%;
    }

        #people-list ul li .info-wrapper em {
            font-size: 14px !important;
        }
}

/*************************************
INFO WRAPPER
**************************************/
.pop-up-wrap .info-wrapper {
    display: none;
    background: #fff;
    z-index: 9999999;
    width: 960px;
    padding: 20px;
    padding-left: 254px;
    overflow: hidden;
}

.pop-up-wrap.large .info-wrapper {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -480px;
    margin-top: -150px;
    min-height: 284px;
}

.pop-up-wrap .info-wrapper .thumb {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 214px;
}

    .pop-up-wrap .info-wrapper .thumb img {
        display: block;
        max-width: 100%;
    }

.pop-up-wrap .info-wrapper h3 {
    color: #000;
    font-size: 24px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Signika', sans-serif;
}

.pop-up-wrap .info-wrapper em {
    font-size: 20px;
    color: #000;
    font-style: normal;
    display: inline-block;
    margin-bottom: 20px;
    font-family: 'Signika', sans-serif;
    font-weight: 300;
}

.pop-up-wrap .info-wrapper p {
    color: #000;
    font-size: 14px;
}

.pop-up-wrap .info-wrapper .close {
    position: absolute;
    top: 20px;
    right: 0;
    background: #b1b3b4;
    width: 114px;
    height: 42px;
    line-height: 42px;
    white-space: nowrap;
    color: #000;
    text-align: center;
    z-index: 99;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Signika', sans-serif;
    font-weight: 300;
}

    .pop-up-wrap .info-wrapper .close:before {
        content: url(/img/close.gif);
        display: inline-block;
        position: absolute;
        top: 6px;
        left: 13px;
    }


@media only screen and (max-width : 1199px) {
    .pop-up-wrap .info-wrapper .thumb {
        margin: 0 auto;
    }

    .pop-up-wrap .info-wrapper {
        width: 90%;
        padding: 20px;
    }

    .pop-up-wrap.large .info-wrapper {
        margin: 0 5%;
        left: 0;
        top: 20px;
    }

    .pop-up-wrap .info-wrapper .thumb {
        position: static;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width : 640px) {
    .pop-up-wrap .info-wrapper .close {
        top: 0;
        position: fixed;
    }

    .pop-up-wrap .info-wrapper .thumb {
        margin: 0 auto;
    }

    .pop-up-wrap .info-wrapper {
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    .pop-up-wrap.large .info-wrapper {
        margin: 0 0;
        left: 0;
        top: 0;
        overflow-y: scroll;
        height: 100%;
    }

    .pop-up-wrap .info-wrapper .thumb {
        position: static;
        margin-bottom: 10px;
    }

    .pop-up-wrap .info-wrapper .story {
        max-height: 226px;
        /*overflow-y: scroll;*/
    }
}

#people-list ul li .info-wrapper {
    display: none;
    background: #fff;
    z-index: 9999999;
    width: 960px;
    padding: 20px;
    padding-left: 254px;
    overflow: hidden;
}

#people-list ul li.large .info-wrapper {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -480px;
    margin-top: -150px;
    min-height: 284px;
}

#people-list ul li .info-wrapper .thumb {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 214px;
}

    #people-list ul li .info-wrapper .thumb img {
        display: block;
        max-width: 100%;
    }

#people-list ul li .info-wrapper h3 {
    color: #000;
    font-size: 24px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Signika', sans-serif;
}

#people-list ul li .info-wrapper em {
    font-size: 20px;
    color: #000;
    font-style: normal;
    display: inline-block;
    margin-bottom: 20px;
    font-family: 'Signika', sans-serif;
    font-weight: 300;
}

#people-list ul li .info-wrapper p {
    color: #000;
    font-size: 14px;
}

#people-list ul li .info-wrapper .close {
    position: absolute;
    top: 20px;
    right: 0;
    background: #b1b3b4;
    width: 114px;
    height: 42px;
    line-height: 42px;
    white-space: nowrap;
    color: #000;
    text-align: center;
    z-index: 99;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Signika', sans-serif;
    font-weight: 300;
}

    #people-list ul li .info-wrapper .close:before {
        content: url(/img/close.gif);
        display: inline-block;
        position: absolute;
        top: 6px;
        left: 13px;
    }


@media only screen and (max-width : 1199px) {
    #people-list ul li .info-wrapper .thumb {
        margin: 0 auto;
    }

    #people-list ul li .info-wrapper {
        width: 90%;
        padding: 20px;
    }

    #people-list ul li.large .info-wrapper {
        margin: 0 5%;
        left: 0;
        top: 20px;
    }

    #people-list ul li .info-wrapper .thumb {
        position: static;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width : 640px) {
    #people-list ul li .info-wrapper .close {
        top: 0;
        position: fixed;
    }

    #people-list ul li .info-wrapper .thumb {
        margin: 0 auto;
    }

    #people-list ul li .info-wrapper {
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    #people-list ul li.large .info-wrapper {
        margin: 0 0;
        left: 0;
        top: 0;
        overflow-y: scroll;
        height: 100%;
    }

    #people-list ul li .info-wrapper .thumb {
        position: static;
        margin-bottom: 10px;
    }

    #people-list ul li .info-wrapper .story {
        max-height: 226px;
    }
}


/*************************************
MAIN STUFF
**************************************/
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(224,224,224);
    background: rgba(224,224,224,0.8);
    -pie-background: rgba(224,224,224,0.8);
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
}

#main {
    z-index: auto !important;
}
