#newsroom .overview .col {
	width: 32.4%;
}
#newsroom .overview .title h3 {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 400;
}
#newsroom-content {
	/*width: 840px;*/
	width: 70%;
	float: left;
}
#newsroom-content .newsroom-list {
	margin: 0;
	list-style-type: none;
	overflow: hidden;
	width: 100%;
	margin-left: -3%;
}

#newsroom-content .newsroom-list li:first-child {
	padding-left: 410px;
	min-height: 290px;
	border-bottom: dotted #ccc 1px;
	margin-bottom: 20px;
	float: none;
	width: auto;
}

#newsroom-content .newsroom-list li:first-child .thumb {
	position: absolute;
	top: 0;
	left: 0;
	width: 385px;
	height: auto;
	background: #000;
	overflow: hidden;
}
#newsroom-content .newsroom-list li:first-child .thumb img {
	max-height: 100%;
}
#newsroom-content .newsroom-list li {
	padding: 0;
	position: relative;
	width: 47%;
	float: left;
	margin-left: 3%;
}
#newsroom-content .newsroom-list .thumb {
	height: auto;
	display: block;
	background: #000;
	margin-bottom: 10px;
	overflow: hidden;
}
#newsroom-content .newsroom-list .thumb img {
	width: 100%;
	display: block;
	max-height: 124px;
}
#newsroom-content .newsroom-list .date {
	display: block;
	margin-bottom: 0;
	font-size: 12px;
	color: #aaa;
}
#newsroom-content .newsroom-list h2 {
	text-transform: uppercase;
	font-size: 16.5px;
	font-family: 'Signika',sans-serif;
	font-weight: 600;
}
#newsroom-content .newsroom-list h2 a {
color: #000;
}

#newsroom-content .newsroom-list p {
	font-size: 14px;
	line-height:  28px;
}
#newsroom-content .newsroom-list a {
	display: block;
}
#newsroom-content .newsroom-list a:after {
	content: ' ›';
}

#newsroom-content .newsroom-list li:before {
	content:'';

}
@media only screen and (max-width : 1200px) {
	#newsroom-content  {
		width: 100%;
	}
}
@media only screen and (max-width : 959px) {
	#newsroom-content .newsroom-list li:first-child .thumb {
		width: 100%;
		position: static;
	}

	#newsroom-content .newsroom-list li:first-child {
		padding: 0;
		width: 100%;
	}
	#newsroom-content .newsroom-list li {
		width: 100%;
	}
}

.headlines {
	width: 238px;
	float: right;
	border: solid #b3b8bc 1px;
	padding: 20px 14px;
}
.headlines h2 {
	font-size: 20px;
	font-family: 'Signika',sans-serif;
	font-weight: 600;
	text-transform: uppercase;
}
#content .headlines ul {
	list-style: none;
	
	margin: 0;
}
#content .headlines li:before {
	content: '';
}
#content .headlines li {
	font-size: 14px;
	padding: 0;
	margin-bottom: 20px;
}


@media only screen and (max-width : 1200px) {
	.headlines {
		width: 100%;
	}
}




#research .research-list  {
	margin: 30px 0;
}
#research .research-list li {
	padding-left: 0;
	position: relative;
	padding-left: 172px;
	margin-bottom: 30px;
}
#research .research-list li a:after {
	content: ' ›';
}

#research .research-list  li  .posttitle  a:after {
	content: none;
}



#research .research-list .thumb {
	position: absolute;
	top: 0;
	left: 0;
	width: 152px;
	height: 120px;
	overflow: hidden;
	
}
#research .research-list .thumb:after {
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height:3px;
	border-top: solid #fff 1px;
	background: #8b8b8b;
}





#newsheadlines img {
    display:none;

}

#newsheadlines .date{
    display:none;

}
/*#newsheadlines  div ,  #newsheadlines  p  {
    display:none;

}*/
#newsheadlines .inthenews {
	display:none;
}

#newsheadlines  h2 a{
    font-size:14px;
    text-transform:capitalize;
    font-family: "Open Sans", sans-serif;
    line-height:1.714;
    font-weight:600;
    

}

#content #newsheadlines ul li{

    margin-bottom: 20px;
}
#content #newsheadlines ul li h2{

    margin-bottom:0;
}

@media all and (max-width: 640px){
	#newsroom-content .newsroom-list{
		margin:0px;
	}

	#newsroom-content .newsroom-list li{margin-left:0px;}
}


.newsroom-list  .otherheadlinesnotshow {
    display:none;

}

#newsheadlines  li div.otherotherheadlinesnotshow {

display:block;

}

#newsroom-content .newsroom-list li:nth-child(4) {
clear: left;
}