﻿.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 620px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

div#content {
    width: 100%;
    padding: 0;
    margin: 0;
    left: 0;
}

.m-w2.section-inner > .sfContentBlock {
    padding-top: 50px;
    background-color: #EFEFEF;
}

@media only screen and (min-width: 641px) {

    .m-w2.section-inner > .sfContentBlock {
        padding-top: 0;
        margin-left: calc(-100vw / 2 + 1200px / 2);
        margin-right: calc(-100vw / 2 + 1200px / 2);
    }
}

.form-header {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 15px;
}

.form-header strong {
    display: block;
    margin: 0 0 1rem;
    color: #EE6700;
    font-weight: 700;
}

.form-header h2 {
    margin: 0 0 1rem;
    font-size: 32px;
    font-weight: 300;
}

.form-header p {
    margin: 0;
    font-size: 14px;
}

.form-section-title {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 5px 0;
    margin: 20px 0 40px;
    width: 100%;
    border-top: 1px solid #CCC;
    border-bottom: 3px solid #439CD4;
}

.form-section-title .notes {
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #439DD4;
}

.form-section-title h3 {
    margin: 0 0 0 15px;
    color: #439CD4;
    line-height: 1;
}

.form-section-title span {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #439CD4;
    width: 40px;
    height: 40px;
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
}

.form-group {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    margin-bottom: 1.5rem;
}

.form-group > .form-label {
    max-width: 30%;
    flex-basis: 30%;
}

.label-info {
    display: block;
    font-size: 10px;
}

.form-group > .form-control {
    max-width: 65%;
    flex-basis: 65%;
}

.security-form .form-group .form-control.with-label span {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px !important;
    font-size: 14px;
}

@media only screen and (max-width: 640px) {

    .form-group {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-bottom: 1rem;
    }

    .form-group > .form-label,
    .form-group > .form-control {
        flex-basis: 100%;
        max-width: 100%;
        width: 100%;
    }

    .form-group > .form-label {
        margin: 0 0 .5rem;
    }

    .form-group > .form-label span {
        font-size: 13px;
        font-weight: 700;
    }

    .form-group > .form-control {
    }
}

.security-form .form-group .form-control > * {
    margin-top: 0;
    margin-bottom: 0 !important;
}

.security-form > .form-group .form-control input[type=text] {
    max-width: 390px;
}

.form-section {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 1rem 0 2rem;
    padding: 30px 30px 0 30px;
    border: 1px solid #CCC;
    max-width: 600px;
}

.form-section .form-group {
    display: flex;
}

.form-section .form-control input,
.form-section .form-control textarea,
.form-section .form-control select {
    width: 100% !important;
}

.form-section .form-label {
    width: 40%;
}

.form-section > span {
    position: absolute;
    top: -18px;
    left: -6px;
    background-color: #FFF;
    padding: 5px;
    font-weight: 700;
}

.form-horizontal-list {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 5px;
}

.form-control table tr td {
    padding-right: 20px;
}

.form-control table tr td label {
    margin-left: 10px;
}

@media only screen and (max-width: 640px) {

    .form-control table {
        width: 100%;
    }

    .form-control table tr {
        width: 100%;
    }

    .form-control table tr td {
        text-align: left;
        padding: 0 0 1rem;
    }

    #content .security-form > .form-group .form-control input[type=text] {
        max-width: 100%;
        width: 100%;
    }
}

.form-horizontal-list > *:not(:last-child) {
    margin-right: 30px;
}

.form-check {
    display: flex;
    align-items: center;
}

.form-check-label {
    margin-left: 10px;
}

#date-birth {
    display: flex;
    flex-wrap: nowrap;
}

#date-birth > div {
    position: relative;
    padding-top: 20px;
}

#date-birth span {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 10px;
    font-weight: 500;
}

#birth-day input[type=text],
#birth-month input[type=text] {
    max-width: 60px;
}

#birth-year input[type=text] {
    max-width: 90px;
}

@media only screen and (max-width: 640px) {

    #birth-day input[type=text],
    #birth-month input[type=text] {
        max-width: 60px !important;
    }

    #birth-year input[type=text] {
        max-width: 90px !important;
    }
}

.ui-autocomplete {
    padding: 15px;
    background-color: #FFF;
    border: 1px solid #EFEFEF;
}

/* SUBMIT BTN */
#cph_main_cph_content_C001_btnSubmit {
    width: 130px;
    height: 50px;
    text-transform: uppercase;
    background-color: #439DD4 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

/* SECURITY TOOLTIP */

.security-tooltip {

}

.tooltip {
    margin-top: .5rem;
    border: none;
    color: #EE6700;
    font-weight: 700;
}

.tooltip .tooltiptext {
    padding: 20px;
    width: 370px;
    background-color: #FFF;
    text-align: left;
    border: 1px solid #C2C2C2;
    border-top: 3px solid #C2C2C2;
    border-radius: 0;
}

@media only screen and (max-width: 640px) {

    .tooltip .tooltiptext {
        width: 300px;
    }
}

.tooltiptext strong {
    color: #439CD4;
}

.tooltiptext p {
    color: #222;
    font-weight: 400;
}

/* NON STYLED FIELDS */

#content .form-control textarea {
    width: 50%;
}

#content .form-control textarea {
    line-height: 32px !important;
    height: 90px !important;
    padding: 3px 3px 3px;
    color: #696b6d;
    width: 50%;
    border: 1px solid #6c6c6c;
    /* float: left; */
    margin-right: 10px;
    margin-bottom: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: #c8c4c5 0px 2px 4px -2px;
    font-weight: normal;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    background: #efefef;
    behavior: url(../css3pie/PIE.htc);
}

/* INTERNATIONAL PHONE FLAGS */

#content #txtCellPhone,
#content #txtOfficePhone,
#content #txtHomePhone {
    padding-left: 50px;
    width: 390px;
}

@media only screen and (max-width: 640px) {

    #content #txtCellPhone,
    #content #txtOfficePhone,
    #content #txtHomePhone {
        width: 100%;
    }
}

.iti__flag {
    background-image: url("../img/flags.png");
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti__flag {
        background-image: url("../img/flags@2x.png");
    }
}

/* TIMEOUT POPUP */


#session_time_out {
    position: fixed;
    top: 100px;
    left: 50%;
    margin-left: -250px;
    background: #FFF;
    width: 500px;
    padding: 30px;
    border: 1px solid #C2C2C2;
    border-top-width: 3px;
    z-index: 9999;
}

#session_time_out h3 {
    font-size: 20px;
    font-weight: 500;
    color: red;
}

#session_time_out p {
    font-size: 14px;
    font-weight: 400;
    color: #404049;
}

#session_time_out .disclaimer {
    font-size: 12px;
    color: #A1A1A1;
}

#session_time_out input[type=submit] {
    display: block;
    margin: 0 auto 1rem;
    width: 150px;
}

@media only screen and (max-width: 640px) {

    #session_time_out {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0 !important;
    }
}

#mainnav { /* FIX FOR THE POPUP */
    z-index: 20 !important;
}

/* CUSTOM POPUP */

.blur-body {
    overflow: hidden;
}

.blur-body #header,
.blur-body .security-form,
.blur-body #content > .c-w1 > .sfContentBlock {
    opacity: .5 !important;
}

.blur-body #content #session_time_out {
    opacity: 1 !important;
}

#txtInvestmentExperienceYear {
    max-width: 60px;
}